@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #000;
  --muted: rgb(161, 161, 161);
  --accent-bg: rgb(237, 237, 237);
  --accent-text: rgb(10, 10, 10);
  --hover: rgb(220, 220, 220);
  --border: rgba(0, 0, 0, 0.1);
  --shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);

  --color-primary-light: #326B93;       /* Blue */
  --color-secondary-light: #4ABDAC;     /* Teal */
  --color-tertiary-light: #44546A;      /* Dark Blue */

  --color-primary: var(--color-primary-light);
  --color-accent: var(--color-secondary-light);
  --color-highlight: var(--color-tertiary-light);
    
  @apply font-sans;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist/webfonts/Geist-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist/webfonts/Geist-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/Geist/webfonts/GeistMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


.dark {
  --background: #000;
  --foreground: #fff;
  --muted: rgb(161, 161, 161);
  --accent-bg: rgb(10, 10, 10);
  --accent-text: rgb(237, 237, 237);
  --hover: #000;
  --border: rgba(255, 255, 255, 0.1);
  --shadow: 0px 0px 2px rgba(255, 255, 255, 0.4);

  --color-primary: var(--color-tertiary-light);
  --color-accent: var(--color-primary-light);   
  --color-highlight: var(--color-secondary-light);
}

main {
  --cellsize: calc(calc(100vw - 32px) / 8);
}

@media (min-width: 768px) {
  main {
    --cellsize: calc(min(1080px, 100vw - 32px) / 12);
  }
}
